.container {
  background-color: #c4674b;
  position: relative;
  margin: 0 ;
  max-width: 100%;
}

.container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subsection,
.dropdown-button {
  padding: 11px;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  text-decoration: none;
}

.subsection:hover {
  background-color: #c15b3c;
}

.dropdown-button {
  border: none;
  padding: 0px 9px;
  font-size: 14px;
  align-self: center;
  justify-self: center;
  background-color: #E97451;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.dropdownicon {
  width: 15px;
  padding-left: 4px;
}