.search-bar-container{
  display:flex;
  flex:1;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 100%;
  height: 2.8rem;
  padding: 1rem 0.5rem;
  position: relative;
  font-size: 0.9rem;
  border: none;
  outline: none;
  background-color: #F0F0F0;
}

.search-button {
  width: 3.5rem;
  height: 2.8rem;
  border-radius: 0px 5px 5px 0px;
  border: none;
  background-color: #F0F0F0;
}

.header-search-icon{
  height:1rem;
  padding:0 1rem;
}

.category-select-button{
  display: flex;
  align-items: center;
  justify-self: center;
  height: 2.8rem;
  width:3.3rem;
  position: relative;
  font-size: 0.9rem;
  padding:1rem;
  border-radius: 5px 0px 0px 5px;
  border: none;
  background-color: #F0F0F0;
}

.dropdownicon{
  height: 0.8rem;
  margin-left: 0.2rem;
}

.dropdown-category-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  font-size: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 18px;
}

.content{
  text-decoration: none;
  color:black;
  font-weight: 400;
  text-align: left;
  font-size: 12px;
  padding: 2px 0px;
}

.content:hover{
  font-weight: 500;
}

.dropdown-category:hover .dropdown-category-content {
  display: grid;
}

.dropdown-category {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
