.search-bar-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}


.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-input {
  flex: 1;
  height: 2.8rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #F0F0F0;
}

/* case when have to remove the search container */

.display-none-container {
  display: none;
}

.suggestion-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  border-radius: 0 0 8px 8px;
  font-size: 0.95rem;
}

.suggestion-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggestion-container ul li {
  padding: 0.65rem 1.2rem;
  border-bottom: 1px solid #9d9d9d;
  margin: 0;
  cursor: pointer;
}

.suggestion-container ul li:hover {
  background-color: #F0F0F0;
}

.search-button {
  width: 3.5rem;
  height: 2.8rem;
  border-radius: 0px 5px 5px 0px;
  border: none;
  background-color: #F0F0F0;
}

.header-search-icon {
  height: 1rem;
  padding: 0 1rem;
}

.category-select-button {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 2.8rem;
  width: 3.3rem;
  position: relative;
  font-size: 0.9rem;
  padding: 1rem;
  border-radius: 5px 0px 0px 5px;
  border: none;
  background-color: #F0F0F0;
}

.dropdownicon {
  height: 0.8rem;
  margin-left: 0.2rem;
}

.dropdown-category-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 17rem;
  font-size: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 18px;
}

.content {
  text-decoration: none;
  color: black;
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  padding: 3px 0px;
  border: none;
  background-color: transparent;
}

.apparel-section-hr {
  margin: 0.3rem;
  border-color: hsla(0, 0%, 0%, 0.3);
  width: 80%;
}

.content:hover {
  font-weight: 500;
}

.dropdown-category:hover .dropdown-category-content {
  display: grid;
}

.dropdown-category {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}