.product-details-outer-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 4rem;
    padding: 4rem;
}

.product-photo-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.product-photo-options {
grid-template-rows: repeat(3, 1fr);

}

.product-photo-options-images{
    height: 10rem;
    width: 10rem;
    margin: 0.5rem;
    cursor: pointer;
}

.product-display-image{
    position: relative;
    overflow: hidden; /* Hide the overflow */
}

.loadingEffects{
    background-color: #dbdbdb;
    background-image: linear-gradient(to right,
            #eaeaea 0%,
            #f5f5f5 20%,
            #eaeaea 40%,
            #eaeaea 100%);
    background-size: 200% 100%;
    animation: shimmer 8s linear infinite;
}

@keyframes shimmer {
    0% {
        background-position: -2000px;
    }

    100% {
        background-position: 2000px;
    }
}

.product-display-image-photo{
    height: 100%;
    width:100%;
    position: absolute;
    background-size: 100% 100%;
    top: 0;
    left: 0;
    /* transition: transform 0.1s; */
    transition: 0.2s ease-out;
    cursor: pointer;
}

.product-display-image {
    grid-row: span 3;

}

.zoom-icon-img{
    position: absolute;
    top:15px;
    right: 15px;
    z-index:2;
    display: none;
    cursor: pointer;
}

.zoomIconImgVisible{
    display:block;
}

.zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    cursor: zoom-out;
}

.zoomed-image {
    max-width: 100%;
    max-height: 90%;
    cursor: zoom-out;
}


.product-details-container {
    display: flex;
    flex-direction: column;
}

.heading-class.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.product-ratings-container {
display: flex;
justify-content: space-between;
    max-width: 12rem;
    border: 1px black solid;
    align-items: center;
    padding: 0.4rem 0.6rem;
    font-size: 1.1rem;
}

.product-rating {
    /* Add styles for rating */
}

.ratings-number {
    /* Add styles for ratings number */
}

.product-price-detail {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0rem 0 1.5rem 0;
}

.product-size-container {
    display: grid;
    grid-template-: repeat(2, auto);
    gap:0.8rem;

}

.product-name{
    font-size: 1.6rem;
    font-weight: 700;
}

.product-brand-details{
    font-size: 1.1rem;
    font-weight: 600;
}

.product-details ul li{
    font-size: 1rem;
    font-weight: 500;

}

.product-description{
    font-size: 0.9rem;
    margin: 1.5rem 0;
    font-weight: 500;

}

.product-description-list{
    list-style: none;
    padding: 1rem 0rem;
    margin:0;
    font-size: 1rem;
    font-weight: 400;

}

.product-description-container{
    padding: 1rem 4rem 3rem 4rem;
}

.product-list-heading{
    font-weight:500;
    padding: 0.7rem 0;
}

.select-size {
    font-weight: 500;
    font-size: 1rem;
}

.product-size-detail {
    border-radius: 50%;
    border: 1px black solid;
    height: 2.8rem;
    width: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-size-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 11rem;

}

.product-buy-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 22rem;
    gap:1.5rem;
    margin: 3rem 0;

}

.add-product-to-bag {
    max-width: 20rem;
    padding: 1rem 1rem;
    background-color:#c4674b ;
    border:none;
    font-weight: 600;
font-size: 1rem;
    /* Add other styles for the button */
}

.add-to-wishlist-button {
    border: 2px #c4674b solid;
    background-color: transparent;
    max-width: 20rem;
    padding: 1rem 1rem;
    font-weight: 600;
    font-size: 1rem;


    /* Add styles for add to wishlist button */
}



.product-seller-container{
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: auto;
    margin: 0.5rem 0;
    align-items: center;
    font-size: 1.05rem;
    font-weight: 500;
    max-width: 22.8rem;

}

.product-seller{
font-weight: 600;
}

.send-a-message{
    border-radius: 9.5rem / 10rem;
    border: none;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.send-message-icon{
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.5rem;
}


.product-main-details {
    margin: 1.8rem 0;
}


.product-detail-heading{
    font-size:1.5rem;
    font-weight: 600;
}

.product-description-detail-list{
    font-size: 1.2rem;
}

.product-details ul{
list-style: none;
margin:0;
padding:0;
}

.product-reaching-date{
    font-size:0.9rem;
    font-weight: 500;
}

.more-products-like-this-section{
    width: 100%;
    overflow-x: auto;
    padding: 0 1rem;
}

.more-products-like-this-heading{
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
font-weight: 600;
}
.more-products-like-this-container {
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns:17rem ; 
    overflow-x: auto;
    padding-bottom: 2.5rem;

}


