
.relative-navbar{
  position: relative;
  width: 100%;
  padding-top: 12.3vh;
}

.custom-nav-class {
  width: 100%;
  padding: 2.5rem 3rem 2.5rem 3rem;
  align-items: center;
  margin: 0;
  position: fixed; /* Fixed positioning */
  top: 0; /* Stick to the top */
  top: 0;
  left: 0;
  height: 8vh;
  display: flex;
  background-color: white;
  z-index: 100000;
}

.custom-nav-class.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); 
}

.logo {
  margin-right: 2rem;
  cursor: pointer;
  height: 3.3rem;
  align-self: center;
}

.logo-link{
  text-decoration: none;

}

.small-logos {
  height: 20px;
  width: 25px;
  padding-left: 4px;

}

.small-logo {
  height: 23px;
  width: 26px;
  padding-left: 4px;
}

.right-header-links-container{
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  width: auto;
}

.right-header-links{
  font-weight: 600;
  color: black;
  text-decoration: none;
  margin-left: 1.8rem;
  font-size:0.8rem;
  display:grid;
  grid-template-rows: 1fr auto;
  align-items:center ;
  justify-content: center;
max-width: 3.6rem;
}

.header-links{
  font-weight: 600;
  color: black;
  text-decoration: none;
  margin-left: 1rem;
  font-size:0.8rem;
  display:grid;
  grid-template-rows: 1fr auto;
  align-items:center ;
  justify-content: center;
}

.right-header-icon{
  max-height: 1.5rem;
  max-width:1.5rem;
  justify-self: center;
  align-self: center;
  margin:0;
}

.right-header-button{
  margin-top:0.15rem;
}

.header-login-button{
  color:#4d4d4d !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #4d4d4d;

}

.header-login-button:hover{
  background-color: #efefef;
}

.header-signup-button{
  padding: 0.5rem 1rem;
  background-color: #c4674b;
  border-radius: 5px;
  color: white;
}
.header-signup-button:hover{
  background-color: #c15b3c;
}

.right-header-container{
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-left: 10rem;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #efefef;
  min-width: 8.5rem;
  font-size: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding: 18px;
  margin-top:0.5rem;
}

.current-language {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
}

.dropdown:hover .dropdown-content {
  display: grid;
}

.dropdown-button-header {
  border: none;
  padding: 0;
  font-size: 14px;
  align-self: center;
  justify-self: center;
  color: black;
  font-weight: 500;
  background-color: transparent;
  margin-right: 0.7rem;
}

.dropdownicon {
  width: 12px;
  padding-left: 1px;
}

.slide-out {
  transition: right 0.7s ease;
}

.navbar-toggler {
  display: none;
}

.right-slide {
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transition: left 0.7s ease;
  padding: 80px 20px;
  color: black;
  background-color: #f8f9fa;
}

.slide-in-text {
  padding: 9px;
}

.right-nav-items {
  padding: 0;
}



@media only screen and (max-width: 800px) {
  .navbar-toggler {
    display: flex;
  }

  .right-header {
    display: none;
  }
}

