.custom-nav-class {
  width: 100%;
  padding: 28px 23px;
  align-items: center;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 8vh;
}

.logo {
  margin: 0;
  padding-right: 7px;
  cursor: pointer;
  width: 185px;
  height: 18px;
  align-self: center;
}

.small-logos {
  height: 20px;
  width: 25px;
  padding-left: 4px;

}

.small-logo {
  height: 23px;
  width: 26px;
  padding-left: 4px;
}

.custom-title {
  font-weight: 500;
  color: black;
  padding: 0px 11px;
  text-decoration: none;
  display: flex;
  align-items: end;
}

.user-section {
  justify-content: space-between;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  font-size: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding: 18px;
}

.current-language {
  text-decoration: none;
  color: black;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
}

.dropdown:hover .dropdown-content {
  display: grid;
}

.dropdown-button-header {
  border: none;
  padding: 0;
  font-size: 14px;
  align-self: center;
  justify-self: center;
  background-color: white;
}

.dropdownicon {
  width: 12px;
  padding-left: 1px;
}


.custom-nav-class {
  justify-content: space-between;
  display: flex;
}

.child {
  flex: 1;
}

.slide-out {
  transition: right 0.7s ease;
}

.custom-small-font {
  font-size: 14px;
}

.navbar-toggler {
  display: none;
}

.right-slide {
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transition: left 0.7s ease;
  padding: 80px 20px;
  color: black;
  background-color: #f8f9fa;
}

.slide-in-text {
  padding: 9px;
}

.right-nav-items {
  padding: 0;
}



@media only screen and (max-width: 800px) {
  .navbar-toggler {
    display: flex;
  }

  .right-header {
    display: none;
  }
}

